apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: csi-driver
    newName: ghcr.io/scality/mountpoint-s3-csi-driver
    newTag: 0.1.0
# Uncomment to set the S3 endpoint URL
# configMapGenerator:
#   - name: s3-csi-driver-config
#     behavior: merge
#     literals:
#       - s3-endpoint-url=https://s3.scality.com:8000
