apiVersion: v1
kind: PersistentVolume
metadata:
  name: fc-pv
spec:
  capacity:
    storage: 1200Gi # ignored, required
  accessModes:
    - ReadWriteMany # supported options: ReadWriteMany / ReadOnlyMany
  csi:
    driver: s3.csi.aws.com # required
    volumeHandle: s3-csi-driver # bucket name, required
    volumeAttributes:
      mountpointArgs: --allow-delete,--region eu-west-1,--uid 1001,--allow-other
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fc-claim
spec:
  accessModes:
    - ReadWriteMany # supported options: ReadWriteMany / ReadOnlyMany
  storageClassName: "" # required for static provisioning
  resources:
    requests:
      storage: 1200Gi # ignored, required
  volumeName: fc-pv
---
apiVersion: v1
kind: Pod
metadata:
  name: fc-app
spec:
  containers:
    - name: app
      image: centos
      command: ["/bin/sh"]
      args: ["-c", "echo 'Hello from the container!' >> /data/$(date -u).txt; tail -f /dev/null"]
      volumeMounts:
        - name: persistent-storage
          mountPath: /data
  volumes:
    - name: persistent-storage
      persistentVolumeClaim:
        claimName: fc-claim
