apiVersion: {{ ternary "storage.k8s.io/v1" "storage.k8s.io/v1beta1" (semverCompare ">=1.18.0-0" .Capabilities.KubeVersion.Version) }}
kind: CSIDriver
metadata:
  name: s3.csi.aws.com
  labels:
    {{- include "aws-mountpoint-s3-csi-driver.labels" . | nindent 4 }}
spec:
  attachRequired: false
  {{- if or (.Values.node.podInfoOnMountCompat.enable) (semverCompare ">=1.30.0-0" .Capabilities.KubeVersion.Version) }}
  podInfoOnMount: true
  {{- end }}
  tokenRequests:
    - audience: "sts.amazonaws.com"
      expirationSeconds: 3600
    {{- if .Values.experimental.podMounter }}
    - audience: "pods.eks.amazonaws.com"
      expirationSeconds: 3600
    {{- end }}
  requiresRepublish: true