{{- if .Values.experimental.podMounter -}}

apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.mountpointPod.namespace }}
  labels:
    name: {{ .Values.mountpointPod.namespace }}
    pod-security.kubernetes.io/enforce: restricted

{{- end -}}
