name: Manual ROSA cluster cleanup

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Github Environment"
        required: true
        type: string

concurrency:
  group: e2e-cluster-${{ inputs.environment }}

jobs:
  delete_rosa_cluster:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: "${{ vars.AWS_REGION }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          persist-credentials: false
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ vars.IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}
          role-duration-seconds: 7200
      - name: Get ROSA Token
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            RosaToken
      - name: Initialize Terraform
        working-directory: tests/e2e-kubernetes/rosa/
        env:
          TF_VAR_aws_region: "${{ vars.AWS_REGION }}"
          TERRAFORM_BUCKET: "${{ vars.TERRAFORM_BUCKET }}"
        run: |
          terraform init \
            -backend-config="bucket=$TERRAFORM_BUCKET" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="region=$TF_VAR_aws_region"
      - name: Delete ROSA cluster
        working-directory: tests/e2e-kubernetes/rosa/
        env:
          TF_VAR_aws_region: "${{ vars.AWS_REGION }}"
          TF_VAR_cluster_name: "s3-csi-${{ inputs.environment }}"
          TF_VAR_rhcs_token: "${{ env.ROSATOKEN }}"
          TF_VAR_billing_account_id: ${{ secrets.ROSA_BILLING_ACCOUNT_ID }}
        run: terraform destroy --auto-approve
