name: Manual cluster cleanup

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Github Environment"

env:
  IMAGE_NAME: "s3-csi-driver"
  BENCHMARK_ARTIFACTS_FOLDER: ".github/artifacts"
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
jobs:
  wait_in_queue:
    name: Acquire and wait for CI Queue Position
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write  # For AWS credentials
      actions: write   # For workflow restart via GH CLI
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Wait for queue position
        id: wait
        env:
          GITHUB_TOKEN: ${{ github.token }}
        uses: ./.github/actions/ci-queue
        with:
          mode: enqueue
          table-name: ${{ vars.CI_QUEUE_TABLE }}
  release_queue_position:
    name: Release CI Queue Position
    if: always()
    needs: ["delete_cluster"]
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write  # For AWS credentials
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Release queue position
        id: release
        timeout-minutes: 5
        uses: ./.github/actions/ci-queue
        with:
          mode: dequeue
          table-name: ${{ vars.CI_QUEUE_TABLE }}
  build_matrix:
    name: Build Matrix
    uses: ./.github/workflows/build_matrix.yaml
  delete_cluster:
    needs: ["build_matrix"]
    strategy:
      # Failing fast causes some resources created during the test to leak,
      # so we disable it to ensure all resources created during test are properly cleaned up.
      fail-fast: false
      matrix: ${{ fromJson(needs.build_matrix.outputs.matrix) }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: "${{ vars.AWS_REGION }}"
      CLUSTER_TYPE: "${{ matrix.cluster-type }}"
      ARCH: "${{ matrix.arch }}"
      AMI_FAMILY: "${{ matrix.family }}"
      # envtest doesn't support all versions, here K8S_VERSION is a full version like 1.28.13,
      # and in order to get latest supported version by envtest we convert it to 1.28.
      K8S_VERSION: "${{ matrix.kubernetes-version }}"
      ENVTEST_K8S_VERSION: "${K8S_VERSION%.*}"
      SELINUX_MODE: "${{ matrix.selinux-mode }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}
          role-duration-seconds: 7200
      - name: Install tools
        env:
          ACTION: "install_tools"
        run: |
          tests/e2e-kubernetes/scripts/run.sh
      - name: Delete cluster
        env:
          ACTION: "delete_cluster"
          FORCE: "true"
        run: |
          tests/e2e-kubernetes/scripts/run.sh
