name: "E2E Tests (Trusted)"

on:
  push:
    branches: [ "main", "release-**", "workflow/**" ]
  merge_group:
    types: [ "checks_requested" ]
  pull_request:

permissions:
  id-token: write
  contents: read
  actions: write  # To allow workflow restart

jobs:
  e2e:
    name: E2E Tests
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.id == github.event.pull_request.base.repo.id }}
    uses: ./.github/workflows/e2e-tests.yaml
    with:
      environment: "trusted"
      ref: ${{ (github.event_name == 'push' && github.sha) || (github.event_name == 'pull_request' && github.event.pull_request.head.sha) || github.event.merge_group.head_sha }}
    secrets: inherit
  e2e-rosa:
    name: E2E ROSA Tests
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.id == github.event.pull_request.base.repo.id }}
    uses: ./.github/workflows/e2e-rosa-tests.yaml
    with:
      environment: "rosa-trusted"
      ref: ${{ (github.event_name == 'push' && github.sha) || (github.event_name == 'pull_request' && github.event.pull_request.head.sha) || github.event.merge_group.head_sha }}
    secrets: inherit
