name: "E2E Tests (Untrusted)"

on:
  pull_request_target:

permissions:
  id-token: write
  contents: read

jobs:
  approval:
    name: Approval Gate
    environment: "approval-gate"
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.id != github.event.pull_request.base.repo.id }}
    steps:
      - name: Approval Gate
        run: |
          echo "Approved!"
  e2e:
    name: E2E Tests
    uses: ./.github/workflows/e2e-tests.yaml
    strategy:
      matrix:
        region:
          - 'us-east-1'
    needs: approval
    with:
      environment: "${{ matrix.region }}-untrusted"
      ref: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
  e2e-rosa:
    name: E2E ROSA Tests
    uses: ./.github/workflows/e2e-rosa-tests.yaml
    needs: approval
    with:
      environment: "rosa-untrusted"
      ref: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
  outcome:
    name: All E2E Tests Passed
    if: always()
    runs-on: ubuntu-latest
    needs:
      - e2e
      - e2e-rosa
    steps:
      - name: Verify jobs succeeded
        run: echo '${{ toJSON(needs) }}' | jq -e 'to_entries | all(.value.result == "success")'
