name: "E2E Tests (Trusted)"

on:
  push:
    branches: [ "main", "release-**", "workflow/**" ]
  merge_group:
    types: [ "checks_requested" ]

permissions:
  id-token: write
  contents: read

jobs:
  e2e:
    name: E2E Tests
    uses: ./.github/workflows/e2e-tests.yaml
    with:
      environment: "trusted"
      ref: ${{ (github.event_name == 'push' && github.sha) || github.event.merge_group.head_sha }}
    secrets: inherit
  e2e-rosa:
    name: E2E ROSA Tests
    uses: ./.github/workflows/e2e-rosa-tests.yaml
    with:
      environment: "rosa-trusted"
      ref: ${{ (github.event_name == 'push' && github.sha) || github.event.merge_group.head_sha }}
    secrets: inherit
