name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Check style
      run: make check_style

    - name: Install Go Test Coverage
      run: make install-go-test-coverage

    - name: Build
      run: make bin

    - name: Test
      # Run tests as root as we require it for systemd tests
      run: sudo make test

    - name: Check test coverage
      uses: vladopajic/go-test-coverage@v2
      id: go-test-coverage
      with:
        config: ./.testcoverage.yml

    - name: Comment test coverage
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/github-script@v7
      env:
        TOTAL_COVERAGE: ${{ steps.go-test-coverage.outputs.total-coverage }}
      with:
        script: |
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: 'Total test coverage: ${{ env.TOTAL_COVERAGE }}%'
          })
