name: Unit tests

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:
    branches: [ "main", "feature/*" ]
  merge_group:
    types: [ "checks_requested" ]

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Check style
      run: make check_style

    - name: Check module tidy
      run: make check_mod_tidy

    - name: Check licenses
      run: make check_licenses

    - name: Install Go Test Coverage
      run: make install-go-test-coverage

    - name: Build
      run: make bin

    - name: Test
      run: make test

    - name: Check test coverage
      run: make cover

    - name: Upload report
      uses: actions/upload-artifact@v6
      id: uploaded-report
      with:
        name: cover
        path: cover.html

    - name: Post test coverage to step summary
      if: ${{ github.event_name == 'pull_request' }}
      env:
        ARTIFACT_URL: ${{ steps.uploaded-report.outputs.artifact-url }}
      run: |
        echo "Test coverage report: ${{ env.ARTIFACT_URL }}" >> $GITHUB_STEP_SUMMARY
